body, a {
  color: #555;
}
a:hover {
  color: #555;
}

a:focus {
  color: #555;
}
.main-content {
  height: 525px;
}
.coffee-menu, .food-menu, .tea-menu, .snacks-menu {
  list-style: circle;
}
.menu {
  float: left;
}
.menu-list {
  list-style: none;
}
.coffee, .tea, .food, .snacks {
  float: right;
}
.home-link, .menu-link {
  font-weight: light;
}
.main-text {
  margin-top: 10rem;
}
.footer {
  // top: 305px;
  width: 100%;
}
.nav-items {
  list-style: none;
}

.nav-items li {
  display: inline;
  margin: 0 25px;
}
