body, a {
  color: #555;
}
a:hover {
  color: #555;
}

a:focus {
  color: #555;
}
.main-content {
  height: 525px;
}
.menu-items {
  position: absolute;
}

.menu-list {
  list-style: circles;
}
.menu-list li {
  display: inline;
  margin: 0 25px;
}
.menu-list li div{
  display: inline;
}
.menu-list li div h4{
  display: inline;
}

.home-link, .menu-link {
  font-weight: light;
}
.main-text {
  margin-top: 10rem;
}
.footer {

}
.nav-items {
  list-style: none;
}

.nav-items li {
  display: inline;
  margin: 0 25px;
}
